#main-nav {
	.navbar-brand {
		background-color: $primary;
	}
	
	.navbar-toggler {
		border: none;
		position: relative;
		z-index: 50;
	}
	
	.navbar-collapse {
		background: #00d301;
	    background: -webkit-linear-gradient(-241deg,#00d301,#36c275 50%,#00a562);
	    background: -webkit-linear-gradient(119deg,#00d301,#36c275 50%,#00a562);
	    background: linear-gradient(331deg,#00d301,#36c275 50%,#00a562);
	    padding: 70px 20px 20px;
	    color: #f1f1f1;
	    position: fixed;
	    z-index: 40;
	    width: 100vw;
	    height: 100%;
	    overflow-y: scroll;
	    top: 0;
	    left: 0;
	    right: 0;
	    transition: .4s ease-out;
	    
	    &.collapse:not(.show) {
		    display: block;
		    left: 100%;
	    }
	}
}